@charset "UTF-8";
/*-------------------------------------
  Utility
-------------------------------------*/

/* Clearfix */

.u-cf:before,
.u-cf:after {
    content: " ";
    display: table;
}
.u-cf:after {
    clear: both;
}

/* Image Replacement */
.u-ir {
    overflow: hidden;
    white-space: nowrap;
    text-indent: 100%;
}

/* Ellipsis */
.u-elps {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.u-fl { float: left; }
.u-fr { float: right; }

.u-full   { width: 100%; }
.u-half   { width: 50%; }
.u-third  { width: 33.333%; }
.u-quater { width: 25%; }
.u-fifth  { width: 20%; }

.u-ref { position: relative; }
.u-abs { position: absolute; }

/* Display Classes
------------------------------------- */

.u-dn { display: none !important;  }
.u-db { display: block !important;  }
.u-di { display: inline !important;  }
.u-dib { display: inline-block !important;  }
.u-dt { display: table !important; }
.u-dc { display: table-cell !important;}

/* Spacing Classes
------------------------------------- */

.u-pt0 { padding-top: 0 !important; }
.u-pt24 { padding-top: 24px !important; }
.u-pr0 { padding-right: 0 !important; }
.u-pb0 { padding-bottom: 0 !important; }
.u-pb24 { padding-bottom: 24px !important; }
.u-pl0 { padding-left: 0 !important; }

.u-mra { margin-right: auto !important; }
.u-mla { margin-left: auto !important; }
.u-mca { margin-left: auto !important; margin-right: auto !important; }

.u-mt0 { margin-top: 0 !important; }
.u-mt1 { margin-top: 1px !important; }
.u-mt2 { margin-top: 2px !important; }
.u-mt3 { margin-top: 3px !important; }
.u-mt4 { margin-top: 4px !important; }
.u-mt5 { margin-top: 5px !important; }
.u-mt6 { margin-top: 6px !important; }
.u-mt7 { margin-top: 7px !important; }
.u-mt8 { margin-top: 8px !important; }
.u-mt9 { margin-top: 9px !important; }
.u-mt10 { margin-top: 10px !important; }
.u-mt11 { margin-top: 11px !important; }
.u-mt12 { margin-top: 12px !important; }
.u-mt13 { margin-top: 13px !important; }
.u-mt14 { margin-top: 14px !important; }
.u-mt15 { margin-top: 15px !important; }
.u-mt16 { margin-top: 16px !important; }
.u-mt17 { margin-top: 17px !important; }
.u-mt18 { margin-top: 18px !important; }
.u-mt19 { margin-top: 19px !important; }
.u-mt20 { margin-top: 20px !important; }
.u-mt21 { margin-top: 21px !important; }
.u-mt22 { margin-top: 22px !important; }
.u-mt23 { margin-top: 23px !important; }
.u-mt24 { margin-top: 24px !important; }
.u-mt25 { margin-top: 25px !important; }
.u-mt26 { margin-top: 26px !important; }
.u-mt27 { margin-top: 27px !important; }
.u-mt28 { margin-top: 28px !important; }
.u-mt29 { margin-top: 29px !important; }
.u-mt30 { margin-top: 30px !important; }

.u-mr0 { margin-right: 0 !important; }
.u-mr1 { margin-right: 1px !important; }
.u-mr2 { margin-right: 2px !important; }
.u-mr3 { margin-right: 3px !important; }
.u-mr4 { margin-right: 4px !important; }
.u-mr5 { margin-right: 5px !important; }
.u-mr6 { margin-right: 6px !important; }
.u-mr7 { margin-right: 7px !important; }
.u-mr8 { margin-right: 8px !important; }
.u-mr9 { margin-right: 9px !important; }
.u-mr10 { margin-right: 10px !important; }
.u-mr11 { margin-right: 11px !important; }
.u-mr12 { margin-right: 12px !important; }
.u-mr13 { margin-right: 13px !important; }
.u-mr14 { margin-right: 14px !important; }
.u-mr15 { margin-right: 15px !important; }
.u-mr16 { margin-right: 16px !important; }
.u-mr17 { margin-right: 17px !important; }
.u-mr18 { margin-right: 18px !important; }
.u-mr19 { margin-right: 19px !important; }
.u-mr20 { margin-right: 20px !important; }
.u-mr21 { margin-right: 21px !important; }
.u-mr22 { margin-right: 22px !important; }
.u-mr23 { margin-right: 23px !important; }
.u-mr24 { margin-right: 24px !important; }
.u-mr25 { margin-right: 25px !important; }
.u-mr26 { margin-right: 26px !important; }
.u-mr27 { margin-right: 27px !important; }
.u-mr28 { margin-right: 28px !important; }
.u-mr29 { margin-right: 29px !important; }
.u-mr30 { margin-right: 30px !important; }

.u-mb0 { margin-bottom: 0 !important; }
.u-mb1 { margin-bottom: 1px !important; }
.u-mb2 { margin-bottom: 2px !important; }
.u-mb3 { margin-bottom: 3px !important; }
.u-mb4 { margin-bottom: 4px !important; }
.u-mb5 { margin-bottom: 5px !important; }
.u-mb6 { margin-bottom: 6px !important; }
.u-mb7 { margin-bottom: 7px !important; }
.u-mb8 { margin-bottom: 8px !important; }
.u-mb9 { margin-bottom: 9px !important; }
.u-mb10 { margin-bottom: 10px !important; }
.u-mb11 { margin-bottom: 11px !important; }
.u-mb12 { margin-bottom: 12px !important; }
.u-mb13 { margin-bottom: 13px !important; }
.u-mb14 { margin-bottom: 14px !important; }
.u-mb15 { margin-bottom: 15px !important; }
.u-mb16 { margin-bottom: 16px !important; }
.u-mb17 { margin-bottom: 17px !important; }
.u-mb18 { margin-bottom: 18px !important; }
.u-mb19 { margin-bottom: 19px !important; }
.u-mb20 { margin-bottom: 20px !important; }
.u-mb21 { margin-bottom: 21px !important; }
.u-mb22 { margin-bottom: 22px !important; }
.u-mb23 { margin-bottom: 23px !important; }
.u-mb24 { margin-bottom: 24px !important; }
.u-mb25 { margin-bottom: 25px !important; }
.u-mb26 { margin-bottom: 26px !important; }
.u-mb27 { margin-bottom: 27px !important; }
.u-mb28 { margin-bottom: 28px !important; }
.u-mb29 { margin-bottom: 29px !important; }
.u-mb30 { margin-bottom: 30px !important; }

.u-ml0 { margin-left: 0 !important; }
.u-ml1 { margin-left: 1px !important; }
.u-ml2 { margin-left: 2px !important; }
.u-ml3 { margin-left: 3px !important; }
.u-ml4 { margin-left: 4px !important; }
.u-ml5 { margin-left: 5px !important; }
.u-ml6 { margin-left: 6px !important; }
.u-ml7 { margin-left: 7px !important; }
.u-ml8 { margin-left: 8px !important; }
.u-ml9 { margin-left: 9px !important; }
.u-ml10 { margin-left: 10px !important; }
.u-ml11 { margin-left: 11px !important; }
.u-ml12 { margin-left: 12px !important; }
.u-ml13 { margin-left: 13px !important; }
.u-ml14 { margin-left: 14px !important; }
.u-ml15 { margin-left: 15px !important; }
.u-ml16 { margin-left: 16px !important; }
.u-ml17 { margin-left: 17px !important; }
.u-ml18 { margin-left: 18px !important; }
.u-ml19 { margin-left: 19px !important; }
.u-ml20 { margin-left: 20px !important; }
.u-ml21 { margin-left: 21px !important; }
.u-ml22 { margin-left: 22px !important; }
.u-ml23 { margin-left: 23px !important; }
.u-ml24 { margin-left: 24px !important; }
.u-ml25 { margin-left: 25px !important; }
.u-ml26 { margin-left: 26px !important; }
.u-ml27 { margin-left: 27px !important; }
.u-ml28 { margin-left: 28px !important; }
.u-ml29 { margin-left: 29px !important; }
.u-ml30 { margin-left: 30px !important; }

/* Text Decorative Classes
------------------------------------- */

.u-n { font-weight: normal !important; }
.u-b { font-weight: bold !important; }
.u-i { font-style: italic !important; }
.u-l { text-align: left !important; }
.u-c { text-align: center !important; }
.u-r { text-align: right !important; }
.u-u { text-decoration: underline !important; }

.u-f0 { font-size: 0px !important; }
.u-f1 { font-size: 1px !important; }
.u-f2 { font-size: 2px !important; }
.u-f3 { font-size: 3px !important; }
.u-f4 { font-size: 4px !important; }
.u-f5 { font-size: 5px !important; }
.u-f6 { font-size: 6px !important; }
.u-f7 { font-size: 7px !important; }
.u-f8 { font-size: 8px !important; }
.u-f9 { font-size: 9px !important; }
.u-f10 { font-size: 10px !important; }
.u-f11 { font-size: 11px !important; }
.u-f12 { font-size: 12px !important; }
.u-f13 { font-size: 13px !important; }
.u-f14 { font-size: 14px !important; }
.u-f15 { font-size: 15px !important; }
.u-f16 { font-size: 16px !important; }
.u-f17 { font-size: 17px !important; }
.u-f18 { font-size: 18px !important; }
.u-f19 { font-size: 19px !important; }
.u-f20 { font-size: 20px !important; }
.u-f21 { font-size: 21px !important; }
.u-f22 { font-size: 22px !important; }
.u-f23 { font-size: 23px !important; }
.u-f24 { font-size: 24px !important; }
.u-f25 { font-size: 25px !important; }
.u-f26 { font-size: 26px !important; }
.u-f27 { font-size: 27px !important; }
.u-f28 { font-size: 28px !important; }
.u-f29 { font-size: 29px !important; }
.u-f30 { font-size: 30px !important; }

.u-lh0 { line-height: 0px !important; }
.u-lh1 { line-height: 1px !important; }
.u-lh2 { line-height: 2px !important; }
.u-lh3 { line-height: 3px !important; }
.u-lh4 { line-height: 4px !important; }
.u-lh5 { line-height: 5px !important; }
.u-lh6 { line-height: 6px !important; }
.u-lh7 { line-height: 7px !important; }
.u-lh8 { line-height: 8px !important; }
.u-lh9 { line-height: 9px !important; }
.u-lh10 { line-height: 10px !important; }
.u-lh11 { line-height: 11px !important; }
.u-lh12 { line-height: 12px !important; }
.u-lh13 { line-height: 13px !important; }
.u-lh14 { line-height: 14px !important; }
.u-lh15 { line-height: 15px !important; }
.u-lh16 { line-height: 16px !important; }
.u-lh17 { line-height: 17px !important; }
.u-lh18 { line-height: 18px !important; }
.u-lh19 { line-height: 19px !important; }
.u-lh20 { line-height: 20px !important; }
.u-lh21 { line-height: 21px !important; }
.u-lh22 { line-height: 22px !important; }
.u-lh23 { line-height: 23px !important; }
.u-lh24 { line-height: 24px !important; }
.u-lh25 { line-height: 25px !important; }
.u-lh26 { line-height: 26px !important; }
.u-lh27 { line-height: 27px !important; }
.u-lh28 { line-height: 28px !important; }
.u-lh29 { line-height: 29px !important; }
.u-lh30 { line-height: 30px !important; }

.u-v0 { vertical-align: 0; }
.u-v1 { vertical-align: -1px; }
.u-v2 { vertical-align: -2px; }
.u-v3 { vertical-align: -3px; }
.u-v4 { vertical-align: -4px; }
.u-v5 { vertical-align: -5px; }
.u-vt { vertical-align: top; }
.u-vm { vertical-align: middle; }
.u-vb { vertical-align: bottom; }